doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
<<<<<<< HEAD
    block content
=======
    block content
>>>>>>> e801bdb89a1968526ff226531d9ba00465e0627d
