/* bootstrap overrides */

html, body {
    height: 100%;
    background-color:#262626;
}

p, h4{
    color: #fff;
}

.main, .row-fluid {
    height: 100%;
}

.main:before, .main:after,
.column:before, .column:after {
    content: "";
    display: table;
}

.main:after,
.column:after {
    clear: both;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
  	top:0;
}

.span9.full {
    width: 100%;
}

#user-sidebar, #game, #chatbar{
    height: 100em;
    border-left: thick double #82b919;
}
